.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-decoration: none;
  border: 4px solid $color-light-text;
  cursor: pointer;

  @include fontRoboto(700, 12px, 14px, $color-light-text);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
