.card-trainer {
  position: relative;
  width: 20.44%;
  max-height: 294px;
  height: 22vw;
  overflow: hidden;

  @media (max-width: $tablet) {
    max-height: 38vw;
    height: 38vw;
  }

  @media (max-width: $tel) {
    max-height: 86vw;
    height: 86vw;
  }
}

.card-trainer__intro h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;

  @include fontRoboto(700, 18px, 27px, $color-light-text);
}

.card-trainer:focus-within .card-trainer__intro h3,
.card-trainer:hover .card-trainer__intro h3 {
  display: none;
}

.card-trainer:focus-within .card-trainer__image,
.card-trainer:hover .card-trainer__image {
  transform: matrix(-1, 0, 0, 1, 0, 0);

  &--alexandr {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
}

.card-trainer__image {
  &--alexandr {
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.card-trainer__img {
  object-fit: cover;
  width: 100%;
  height: 22vw;
  max-height: 294px;

  @media (max-width: $tablet) {
    height: 38vw;
    max-height: 38vw;
  }

  @media (max-width: $tel) {
    height: 86vw;
    max-height: 86vw;
  }
}

.card-trainer__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 51px 10px;
  background-color: rgba(16, 38, 84, 0.89);
}

.card-trainer__content h3 {
  margin: 0;

  @include fontRoboto(700, 18px, 27px, $color-light-text);
}

.card-trainer__category {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 30px;

  @include fontRoboto(400, 16px, 24px, $color-category);
}

.card-trainer__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  max-width: 160px;
}

.card-trainer__item {
  position: relative;
  padding-left: 16px;

  @include fontRoboto(400, 14px, 14px, $color-light-text);

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-light-text;
  }
}

.card-trainer:focus-within .card-trainer__content,
.card-trainer:hover .card-trainer__content {
  display: flex;
}
