.header {
  position: relative;
  z-index: 1;
  padding: 30px 0 51px;
  background-color: #003d85;
  background-image: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

  @media (max-width: $tablet) {
    padding: 34px 0 82px;
    background-image: conic-gradient(from 139.4deg at 20.7% 35.74%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
  }

  @media (max-width: $tel) {
    background-image: conic-gradient(from 171.43deg at 35.31% 34.22%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
    padding: 15px 0 78px;
  }
}

.header__menu {
  display: flex;

  @media (max-width: $tablet) {
    margin-bottom: 19px;
  }
}

.header__tel {
  display: block;
  margin-left: auto;
  letter-spacing: 0.03em;
  width: 155px;

  @include fontAlumni(600, 26px, 31px, $color-light-text);

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px solid $color-accent;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $tablet) {
    letter-spacing: 0.02em;
    width: 138px;

    @include fontAlumni(700, 24px, 29px, $color-light-text);
  }

  @media (max-width: $tel) {
    width: 115px;

    @include fontAlumni(700, 20px, 24px, $color-light-text);
  }
}
