@mixin fontAlumni ($weight, $fs, $lh, $color) {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-size: $fs;
  font-weight: $weight;
  font-style: normal;
  line-height: $lh;
  color: $color;
}

@mixin fontRoboto ($weight, $fs, $lh, $color) {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: $fs;
  font-weight: $weight;
  font-style: normal;
  line-height: $lh;
  color: $color;
}
